<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MyShop</title>
	<link rel="stylesheet" type="text/css" href="{{asset("bundles/myshopdef/css/style.css")}}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/myshopdef/css/magnific-popup.css') }}">
	{#<script src="{{asset("bundles/myshopdef/js/jquery-1.4.4.min.js")}}"></script>#}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{asset("bundles/myshopdef/js/slides.min.jquery.js")}}"></script>
	<script src="{{asset("bundles/myshopdef/js/jquery.magnific-popup.js")}}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
</head>
<body>
	<div class="header">
			<div class="wrapper">
				<header>
					<div class="div-logo">
						<a href=""><img src="{{asset("bundles/myshopdef/img/logo.png")}}" alt="logo"></a>
					</div>
					<div class="right">
						<div class="info-block">
							<ul class="icons">
								<li><a href="https://twitter.com" class="tw"></a></li>
								<li><a href="https://www.facebook.com" class="fb"></a></li>
								<li><a href="https://vk.com"></a></li>
							</ul>
						</div>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
							<div class="user_panel">
								<div class="user_name">
									<a href="">{{ app.user.username }}</a>
								</div>
								<div class="settingsIMG">
									<img src="{{asset("bundles/myshopdef/img/settings.png")}}" class="settings">
									<div class="user_menu">
										<ul>
											<li><a href=""><div class="user_button"><img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">Профиль</div></a></li>
											<li><a href="{{ path('history_orders_customer') }}"><div class="user_button"><img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">Заказы</div></a></li>
											<li><a href="{{ path("logout_customer") }}"><div class="exit user_button"><img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">Выход</div></a></li>
										</ul>
									</div>
								</div>
							</div>
                        {% else %}
							<div class="forma">
								<form action="{{ path('login') }}" method="post">
									<label for="login">E-mail</label>
									<input type="text" name="_username" id="login">
									<label for="password">Пароль</label>
									<input type="password" name="_password" id="password">
									<input type="submit" name="come_in" value="Войти">
								</form>
                                {#{{ render(controller("MyShopDefBundle:Customer:loginCustomer")) }}#}
								<div class="sign_in">
									<a href="{{ path("registration_customer") }}">Зарегистрироваться</a>
								</div>
							</div>
                        {% endif %}
					</div>	
				</header>
			</div>
	</div>
	<div class="nav">
		<div class="wrapper">
				<nav>
					<ul>
						<li><a href="{{path("show")}}">Главная</a></li>
						<li><div class="layer140"></div></li>
						<li><a href="">Новости</a></li>
						<li><div class="layer140"></div></li>
						<li><a href="{{ path('my_pages',{'pageURL':'contact'}) }}">Контакты</a></li>
						<li><div class="layer140"></div></li>
						<li><a href="{{path("create")}}">Корзина</a></li>
						<div class="search">
							<form>
								<ul>
									<li>	<input type="submit" name="search_button" value=""></li>
									<li>	<input type="text" name="search" placeholder="Введите запрос"></li>					
								</ul>
							</form>	
						</div>	
					</ul>
				</nav>
		</div>
	</div>
    {% block slider %}
	{% endblock %}
	<div class="main">
		<div class="wrapper">
			<div class="sidebar">
				<div class="categories">
					<div class="cat"><span>Категории</span></div>
					{{ render(controller("MyShopAdminBundle:Category:list")) }}
				</div>
			</div>
			<div class="right-col">
				{% block right %}
				{% endblock %}
			</div>
			<div class="admin_panel">
				<p>Admin</p>
				<div class="admin_buttons">
					<ul>
						<li>
							<a href="{{path('admin_add')}}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Добавить товар
								</div>
							</a>
						</li>
						<li>
							<a href="{{path('add_category')}}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Добавить категорию
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('add_users') }}" >
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Добавить пользователя
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('show_all_users') }}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Список админов
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('loading_test_admin') }}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Добавть тест.Админа
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('loading_test_product') }}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Добавть тест.Продукт
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('show_all_orders_customer') }}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Список заказов
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('import_product_csv') }}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Import
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('export_product_csv') }}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Export
								</div>
							</a>
						</li>
						<li>
							<a href="{{path('logout')}}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Выход
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="flash_massage" id="flash_massage">
				<ul>
				{% for mas in app.session.flashbag.get('error') %}
					<li>{{  mas }}</li>
				{% endfor %}
				{% for mas in app.session.flashbag.get('info') %}
                     <li>{{  mas }}</li>
				{% endfor %}
				</ul>
			</div>
			<div class="second-nav">
				<nav>
					<ul>
						<li><a href="">Главная</a></li>
						<li><div class="nav-bord"></div></li>
						<li><a href="">Новости</a></li>
						<li><div class="nav-bord"></div></li>
						<li><a href="">Мой аккаунт</a></li>
						<li><div class="nav-bord"></div></li>
						<li><a href="">Связатся с нами</a></li>
					</ul>
				</nav>		
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrapper">
			<footer>
				<div class="content-footer">
					<ul>
						<li><span>Укрина Одесса ул.Боротатого 228</span></li>
						<li><div class="footer-bord"></div></li>
						<li><span>e-mail:</span><a href="">myshop@mail.ru</a></li>
						<li><div class="footer-bord"></div></li>
						<li><span>тел:8800555353</span></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>
	<script>
            var div = document.getElementById("flash_massage"),
                func = function () {
                    div.style.opacity = 0;
                    div.style.bottom = -1000 + 'px';
                };
            if (div.firstElementChild.firstElementChild === null) {
                div.style.opacity = 0;
            }
            else {
                div.style.opacity = 1;
                div.style.bottom = 36 + 'px';
                div.style.transition = 1 + 's';
                setTimeout(func, 10000);
            }
	</script>
	<script >
        $(document).ready(function() {
            $(".popup_photo").magnificPopup({
                type:'image',
                gallery:{
                    enabled : true
                },
                removalDelay: 300,
                mainClass: 'mfp-fade'
            });
        });
	</script>
	<script>
        $(function(){
            $('#slides').slides({
                preload: true,
                preloadImage: 'img/loading.gif',
                play: 5000,
                pause: 2500,
                hoverPause: true
            });
        });
	</script>
    {% block script %}
    {% endblock %}
    <script type="text/javascript">
    function set_action()
	{
		action_for_script = document.getElementById('myshop_defbundle_product_category');
        var telephone=document.getElementsByClassName('telephone'),
            tablet=document.getElementsByClassName('tablet'),
			laptop=document.getElementsByClassName('laptop'),
			TV=document.getElementsByClassName('TV'),
			monitor=document.getElementsByClassName('monitor'),
			computer=document.getElementsByClassName('computer'),
			mouse=document.getElementsByClassName('mouse'),
			keyboard=document.getElementsByClassName('keyboard'),
            headphones=document.getElementsByClassName('headphones'),
			videoCam=document.getElementsByClassName('videoCam');

        function none() {
			var array=[telephone,tablet,laptop,TV,monitor,computer,mouse,keyboard,headphones,videoCam];
			for (var j=0 ;j < array.length; j++)
			{
                for (var i=0;i < array[j].length;i++) {
                    array[j][i].style.display = 'none';
                }
			}
        }

		if (action_for_script.value == 1)
        {
            none();
            for (var i=0;i < telephone.length;i++) {
                telephone[i].style.display = 'table';
            }
        }
		if (action_for_script.value == 3)
        {
            none();
            for (var i=0;i < tablet.length;i++) {
                tablet[i].style.display = 'table';
            }
        }
        if (action_for_script.value == 4)
        {
            none();
            for (var i=0;i < laptop.length;i++) {
                laptop[i].style.display = 'table';
            }
		}
        if (action_for_script.value == 5)
        {
            none();
            for (var i=0;i < computer.length;i++) {
                computer[i].style.display = 'table';
            }
		}
        if (action_for_script.value == 6)
        {
            none();
            for (var i=0;i < monitor.length;i++) {
                monitor[i].style.display = 'table';
            }
		}
        if (action_for_script.value == 7)
        {
            none();
            for (var i=0;i < mouse.length;i++) {
                mouse[i].style.display = 'none';
            }
        }
        if (action_for_script.value == 8)
        {
            none();
            for (var i=0;i < keyboard.length;i++) {
                keyboard[i].style.display = 'table';
            }
        }
        if (action_for_script.value == 9)
        {
            none();
            for (var i=0;i < headphones.length;i++) {
                headphones[i].style.display = 'table';
            }
        }
        if (action_for_script.value == 10)
        {
            none();
            for (var i=0;i < videoCam.length;i++) {
                videoCam[i].style.display = 'table';
            }
        }
        if (action_for_script.value == 17)
        {
            none();
            for (var i=0;i < TV.length;i++) {
                TV[i].style.display = 'table';
            }
        }
	}
    </script>
</body>
</html>