<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MyShop</title>
	<link rel="stylesheet" type="text/css" href="{{asset("bundles/myshopdef/css/style.css")}}">
	<script src="{{asset("bundles/myshopdef/js/jquery-1.4.4.min.js")}}"></script>
	<script src="{{asset("bundles/myshopdef/js/slides.min.jquery.js")}}"></script>
	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});
		});
	</script>
</head>
<body>
	<div class="header">
			<div class="wrapper">
				<header>
					<div class="div-logo">
						<a href=""><img src="{{asset("bundles/myshopdef/img/logo.png")}}" alt="logo"></a>
					</div>
					<div class="right">
						<div class="info-block">
							<ul class="icons">
								<li><a href="https://twitter.com" class="tw"></a></li>
								<li><a href="https://www.facebook.com" class="fb"></a></li>
								<li><a href="https://vk.com"></a></li>
							</ul>
						</div>
						<div class="forma">
							<form>
								<label for="login">Логин</label>
									<input type="text" name="login" id="login">
								<label for="password">Пароль</label>
									<input type="password" name="password" id="password">	
								<input type="submit" name="come_in" value="Войти">	
							</form>
							<div class="sign_in">
								<a href="{{path('add_category')}}">Добавить категорию</a>
								<a href="{{path('admin_add')}}">Добавить товар</a>
								<a href="">Зарегистрироваться</a>
							</div>
						</div>	
					</div>	
				</header>
			</div>
	</div>
	<div class="nav">
		<div class="wrapper">
				<nav>
					<ul>
						<li><a href="{{path("show")}}">Главная</a></li>
						<li><div class="layer140"></div></li>
						<li><a href="">Новости</a></li>
						<li><div class="layer140"></div></li>
						<li><a href="">Контакты</a></li>
						<li><div class="layer140"></div></li>
						<li><a href="{{path("create")}}">Корзина</a></li>
						<div class="search">
							<form>
								<ul>
									<li>	<input type="submit" name="search_button" value=""></li>
									<li>	<input type="text" name="search" placeholder="Введите запрос"></li>					
								</ul>
							</form>	
						</div>	
					</ul>
				</nav>
		</div>
	</div>
	<div id="container">
		<div id="example">
			<div id="slides">
				<div class="slides_container">
					<a href="sl" target="_blank"><img src="{{asset("bundles/myshopdef/img/slide1.png")}}"></a>
					<a href="sl" target="_blank"><img src="{{asset("bundles/myshopdef/img/slide2.png")}}"></a>
					<a href="sl" target="_blank"><img src="{{asset("bundles/myshopdef/img/slide3.png")}}"></a>
					<a href="sl" target="_blank"><img src="{{asset("bundles/myshopdef/img/slide4.png")}}"></a>
					<a href="sl" target="_blank"><img src="{{asset("bundles/myshopdef/img/slide5.png")}}"></a>
				</div>
				<a href="#" class="prev"><img src="{{asset("bundles/myshopdef/img/arrow-prev.png")}}" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="{{asset("bundles/myshopdef/img/arrow-next.png")}}" width="24" height="43" alt="Arrow Next"></a>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="wrapper">
			<div class="sidebar">
				<div class="categories">
					<div class="cat"><span>Категории</span></div>
					{{ render(controller("MyShopAdminBundle:Category:list")) }}
				</div>
			</div>
			<div class="right-col">
				{% block right %}
				{% endblock %}
			</div>
			<div class="second-nav">
				<nav>
					<ul>
						<li><a href="">Главная</a></li>
						<li><div class="nav-bord"></div></li>
						<li><a href="">Новости</a></li>
						<li><div class="nav-bord"></div></li>
						<li><a href="">Мой аккаунт</a></li>
						<li><div class="nav-bord"></div></li>
						<li><a href="">Связатся с нами</a></li>
					</ul>
				</nav>		
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrapper">
			<footer>
				<div class="content-footer">
					<ul>
						<li><span>Укрина Одесса ул.Боротатого 228</span></li>
						<li><div class="footer-bord"></div></li>
						<li><span>e-mail:</span><a href="">myshop@mail.ru</a></li>
						<li><div class="footer-bord"></div></li>
						<li><span>тел:8800555353</span></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>