<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MyShop</title>
	<link rel="stylesheet" type="text/css" href="{{asset("bundles/myshopdef/css/style.css")}}">
	<script src="{{asset("bundles/myshopdef/js/jquery-1.4.4.min.js")}}"></script>
	<script src="{{asset("bundles/myshopdef/js/slides.min.jquery.js")}}"></script>
	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});
		});
	</script>
</head>
<body>
	<div class="header">
			<div class="wrapper">
				<header>
					<div class="div-logo">
						<a href=""><img src="{{asset("bundles/myshopdef/img/logo.png")}}" alt="logo"></a>
					</div>
					<div class="right">
						<div class="info-block">
							<ul class="icons">
								<li><a href="https://twitter.com" class="tw"></a></li>
								<li><a href="https://www.facebook.com" class="fb"></a></li>
								<li><a href="https://vk.com"></a></li>
							</ul>
						</div>
						<div class="forma">
                            {{ render(controller("MyShopAdminBundle:Login:login")) }}
							<div class="sign_in">
								<a href="">Зарегистрироваться</a>
							</div>
						</div>	
					</div>	
				</header>
			</div>
	</div>
	<div class="nav">
		<div class="wrapper">
				<nav>
					<ul>
						<li><a href="{{path("show")}}">Главная</a></li>
						<li><div class="layer140"></div></li>
						<li><a href="">Новости</a></li>
						<li><div class="layer140"></div></li>
						<li><a href="">Контакты</a></li>
						<li><div class="layer140"></div></li>
						<li><a href="{{path("create")}}">Корзина</a></li>
						<div class="search">
							<form>
								<ul>
									<li>	<input type="submit" name="search_button" value=""></li>
									<li>	<input type="text" name="search" placeholder="Введите запрос"></li>					
								</ul>
							</form>	
						</div>	
					</ul>
				</nav>
		</div>
	</div>
    {% block slider %}
	{% endblock %}
	<div class="main">
		<div class="wrapper">
			<div class="sidebar">
				<div class="categories">
					<div class="cat"><span>Категории</span></div>
					{{ render(controller("MyShopAdminBundle:Category:list")) }}
				</div>
			</div>
			<div class="right-col">
				{% block right %}
				{% endblock %}
			</div>
			<div class="admin_panel">
				<p>Admin</p>
				<div class="admin_buttons">
					<ul>
						<li>
							<a href="{{path('admin_add')}}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Добавить товар
								</div>
							</a>
						</li>
						<li>
							<a href="{{path('add_category')}}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Добавить категорию
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('add_users') }}" >
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Добавить пользователя
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('show_all_users') }}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Список админов
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('loading_test_admin') }}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Добавть тест.Админа
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('loading_test_product') }}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Добавть тест.Продукт
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('import_product_csv') }}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Import
								</div>
							</a>
						</li>
						<li>
							<a href="{{ path('export_product_csv') }}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Export
								</div>
							</a>
						</li>
						<li>
							<a href="{{path('logout')}}">
								<div class="admin_button ">
									<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
									Выход
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
            {#{% if app.session.flashbag.get('error')!=null or app.session.flashbag.get('info')!=null %}#}
            {#{% if app.session.flashbag.get('error') or if app.session.flashbag.get('info') %}#}
				<div class="flash_massage">
					<ul>
						{% for mas in app.session.flashbag.get('error') %}
							<li>{{  mas }}</li>
						{% endfor %}
						{% for mas in app.session.flashbag.get('info') %}
                            <li>{{  mas }}</li>
						{% endfor %}
					</ul>
				</div>
            {#{% endif %}#}
			<div class="second-nav">
				<nav>
					<ul>
						<li><a href="">Главная</a></li>
						<li><div class="nav-bord"></div></li>
						<li><a href="">Новости</a></li>
						<li><div class="nav-bord"></div></li>
						<li><a href="">Мой аккаунт</a></li>
						<li><div class="nav-bord"></div></li>
						<li><a href="">Связатся с нами</a></li>
					</ul>
				</nav>		
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrapper">
			<footer>
				<div class="content-footer">
					<ul>
						<li><span>Укрина Одесса ул.Боротатого 228</span></li>
						<li><div class="footer-bord"></div></li>
						<li><span>e-mail:</span><a href="">myshop@mail.ru</a></li>
						<li><div class="footer-bord"></div></li>
						<li><span>тел:8800555353</span></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>