{% extends "@MyShopDef/Default/index.html.twig" %}

{% block right %}
	
	<ul class="product-list">
					<li>
						<a href="">
							<div class="border-right">
								<div class="top"><p>{{product.color()}}</p></div>
								<div class="img-product">	
									<img src="{{asset("bundles/myshopdef/img/2128_1457990866.png")}}">
								</div>	
								<div class="product">
									<p>{{product.manufacturer()}} {{product.phoneModel()}} </p>
									<div class="price-block">
										<p class="old-price">{{product.oS()}}</p>
										<p class="price">$ {{product.price()}}</p>
									</div>
								</div>
								<div class="add_to_bascket">
									<a href="">Добавить в карзину</a>
								</div>
							</div>
							<div class="border-bottom"></div>
						</a>
					</li>
	</ul>				
{% endblock %}