<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MyShop</title>
	<link rel="stylesheet" type="text/css" href="{{asset("bundles/myshopdef/css/style.css")}}">
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/myshopdef/css/magnific-popup.css') }}">
    {#<script src="{{asset("bundles/myshopdef/js/jquery-1.4.4.min.js")}}"></script>#}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{asset("bundles/myshopdef/js/slides.min.jquery.js")}}"></script>
	<script src="{{asset("bundles/myshopdef/js/jquery.magnific-popup.js")}}"></script>
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'img/loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});
		});
	</script>
    {% block script %}
	{% endblock %}
</head>
<body>
	<div class="header">
			<div class="wrapper">
				<header>
					<div class="div-logo">
						<a href=""><img src="{{asset("bundles/myshopdef/img/logo.png")}}" alt="logo"></a>
					</div>
					<div class="right">
						<div class="info-block">
							<ul class="icons">
								<li><a href="https://twitter.com" class="tw"></a></li>
								<li><a href="https://www.facebook.com" class="fb"></a></li>
								<li><a href="https://vk.com"></a></li>
							</ul>
						</div>
						{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
							<div class="user_panel">
								<div class="user_name">
									<a href="">User Name</a>
								</div>
								<div class="settingsIMG">
									<img src="{{asset("bundles/myshopdef/img/settings.png")}}" class="settings">
									<div class="user_menu">
										<ul>
											<li><a href=""><div class="user_button"><img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">Профиль</div></a></li>
											<li><a href="{{ path('history_orders_customer') }}"><div class="user_button"><img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">Заказы</div></a></li>
											<li><a href="{{ path("logout_customer") }}"><div class="exit user_button"><img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">Выход</div></a></li>
										</ul>
									</div>
								</div>
							</div>
						{% else %}
							<div class="forma">
								{{ render(controller("MyShopDefBundle:Customer:loginCustomer")) }}
								<div class="sign_in">
									<a href="{{ path("registration_customer") }}">Зарегистрироваться</a>
								</div>
							</div>
						{% endif %}
					</div>	
				</header>
			</div>
	</div>
	<div class="nav">
		<div class="wrapper">
				<nav>
					<ul>
						<li><a href="{{path("showAll")}}">Главная</a></li>
						<li><div class="layer140"></div></li>
						<li><a href="">Новости</a></li>
						<li><div class="layer140"></div></li>
						<li><a href="">Контакты</a></li>
						<li><div class="layer140"></div></li>
						<li><a href="{{ path('show_order') }}">Корзина</a></li>
						<div class="search">
							<form>
								<ul>
									<li>
										<input type="submit" name="search_button" value="">
									</li>
									<li>
										<input type="text" name="search" placeholder="Введите запрос">
									</li>
								</ul>
							</form>	
						</div>	
					</ul>
				</nav>
		</div>
	</div>
    {% block slider %}
    {% endblock %}
	<div class="main">
		<div class="wrapper">
			<div class="sidebar">
				<div class="categories">
					<div class="cat"><span>Категории</span></div>
                    {#{{ render(controller("MyShopAdminBundle:Category:list")) }}#}{#переделать вывод категорий для пользователей#}
				</div>
			</div>
			<div class="right-col">
				{% block right %}
				{% endblock %}
			</div>
			<div class="second-nav">
				<nav>
					<ul>
						<li><a href="">Главная</a></li>
						<li><div class="nav-bord"></div></li>
						<li><a href="">Новости</a></li>
						<li><div class="nav-bord"></div></li>
						<li><a href="">Мой аккаунт</a></li>
						<li><div class="nav-bord"></div></li>
						<li><a href="">Связатся с нами</a></li>
					</ul>
				</nav>		
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrapper">
			<footer>
				<div class="content-footer">
					<ul>
						<li><span>Укрина Одесса ул.Боротатого 228</span></li>
						<li><div class="footer-bord"></div></li>
						<li><span>e-mail:</span><a href="">myshop@mail.ru</a></li>
						<li><div class="footer-bord"></div></li>
						<li><span>тел:8800555353</span></li>
					</ul>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>