
	<ul>
		{% for cat in categoryList %}
				<li>
					<a href="{{path("list_by_category",{id_category:cat.id})}}">
						<div class="category">
							<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
								{{cat.name}}
						</div>
					</a>
					<div class="div_update_delete">
						<a href="{{path('update_category',{id_category:cat.id})}}">
							<div class="update">
							</div>
						</a>
						<a href="{{path('delete_category',{id_category:cat.id})}}">
							<div class="delete">
							</div>
						</a>
					</div>
						<ul class="sub-menu">
							{% for subcat in cat.subCategory %}
									<li>
										<a href="{{path("list_by_category",{id_category:subcat.id})}}">
											<div class="category categ-prod">
												<img src="{{asset("bundles/myshopdef/img/Layer14.png")}}">
											{{ subcat.name }}
											</div>
										</a>
										<div class="div_update_delete">
											<a href="{{path('update_category',{id_category:subcat.id})}}">
												<div class="update">
												</div>
											</a>
											<a href="{{path('delete_category',{id_category:subcat.id})}}">
												<div class="delete">
												</div>
											</a>
										</div>
									</li>
							{% endfor %}
						</ul>
				</li>
		{% endfor %}
	</ul>
