{% extends "@MyShopAdmin/index.html.twig" %}

{% block right %}
	<h1>Создание <span>товара</span></h1>
	<div class="support">
		<form method="POST"  enctype="multipart/form-data" action="{{path('admin_add')}}">
			{% form_theme form _self %}
			<div class="someForm">
				{% for formItem in form %}
					{% if formItem.vars.name=='_token' %}
					{% elseif formItem.vars.name=="Model" %}
						<div class="model">
							{{ form_label(formItem) }}
							{{ form_widget(formItem) }}
						</div>
					{% elseif formItem.vars.name=="manufacturer" %}
						<div class="manuf">
                            {{ form_label(formItem) }}
                            {{ form_widget(formItem) }}
						</div>
					{% else %}
						<div >
                            {{ form_label(formItem) }}
                            {{ form_widget(formItem) }}
						</div>
                    {% endif %}
				{% endfor %}
			</div>
			<div class="button">
				<input type="submit" name="addProduct" value="Добавить">
			</div>
		</form>
	</div>

	
{% endblock %}