{% extends "@MyShopAdmin/index.html.twig" %}
{% block right %}
				<div class="info_product">
					<div class="all_photo">
						{% for photo in product.photo if photo.majorPhoto==true %}
								<div class="img-product">
									<a class="popup_photo" href="/photos/big/{{photo.bigfilename}}">
										<img src="/photos/small/{{photo.smallfilename}}">
									</a>
								</div>
								<div class="small_photos">
									{% for ph in product.photo %}
											<div class="small_photo">
												<a class="popup_photo" href="/photos/big/{{ph.bigfilename}}">
													<img src="/photos/mini/{{ph.minifilename}}">
												</a>
											</div>
									{% endfor %}
								</div>
						{% else %}
								<div class="img-product">
									<img src="{{asset("bundles/myshopdef/img/no_photo.jpg")}}">
								</div>
						{% endfor %}
					</div>
					<h1>{{ product.manufacturer }} {{ product.model }}</h1>
					<div class="pr-and-basc">
						<div class="price">
							<p>${{ product.price }}</p>
						</div>
						<div class="add-to-bascket">
							<a href="{{path('update',{id:product.id})}}">Обновить</a><br>
							<a href="{{ path('delete',{id:product.id}) }}">Удалить</a><br>
							<a href="{{ path("show_photo_for_product",{idProduct:product.id}) }}">Управление фотографиями</a>
						</div>
					</div>
					<div class="description">
						<h1>Описание {{ product.manufacturer }} {{ product.model }}</h1>
						{{ product.description|raw }}
					</div>
					<div class="specifications">
						<h2>Технические характеристики</h2>
						<ul>
							<li>
							<div class="block">
								<div class="name-specifications">
									<p>Производитель</p>
								</div>
								<div class="value-specifications">
									<p>{{ product.manufacturer }}</p>
								</div>
							</div></li>
							<li>
							<div class="block">
								<div class="name-specifications">
									<p>Модель телефона</p>
								</div>
								<div class="value-specifications">
									<p>{{ product.model }}</p>
								</div>
							</div></li>
							{% if  product.os!=null %}
							<li>
							<div class="block">
								<div class="name-specifications">
									<p>Операционной системы</p>
								</div>
								<div class="value-specifications">
									<p>{{ product.os }}</p>
								</div>
							</div></li>
							{% endif %}
							<li>
							<div class="block">
								<div class="name-specifications">
									<p>Цвет</p>
								</div>
								<div class="value-specifications">
									<p>{{ product.color }}</p>
								</div>
							</div></li>
							{% if product.screenSize!=null %}
							<li>
							<div class="block">
								<div class="name-specifications">
									<p>Размер экрана</p>
								</div>
								<div class="value-specifications">
									<p>{{ product.screenSize }}</p>
								</div>
							</div></li>
							{% endif %}
    						{% if product.screenResolution!=null %}
							<li>
							<div class="block">
								<div class="name-specifications">
									<p>Разрешение экрана</p>
								</div>
								<div class="value-specifications">
									<p>{{ product.screenResolution}}</p>
								</div>
							</div></li>
                            {% endif %}
    						{% if product.typeScreen!=null %}
							<li>
							<div class="block">
								<div class="name-specifications">
									<p>Тип экрана</p>
								</div>
								<div class="value-specifications">
									<p>{{ product.typeScreen }}</p>
								</div>
							</div></li>
                            {% endif %}
    						{% if product.processor!=null %}
							<li>
							<div class="block">
								<div class="name-specifications">
									<p>Процессор</p>
								</div>
								<div class="value-specifications">
									<p>{{ product.processor }}</p>
								</div>
							</div></li>
                            {% endif %}
    						{% if product.ram!=null %}
							<li>
							<div class="block">
								<div class="name-specifications">
									<p>Объем внутренней памяти</p>
								</div>
								<div class="value-specifications">
									<p>{{ product.ram }}</p>
								</div>
							</div></li>
                            {% endif %}
    						{% if product.screenResolution!=null %}
							{#<li>#}
							{#<div class="block">#}
								{#<div class="name-specifications">#}
									{#<p>Оперативная память</p>#}
								{#</div>#}
								{#<div class="value-specifications">#}
									{#<p>2 ГБ</p>#}
								{#</div>#}
							{#</div></li>#}
							<li>
							{% endif %}
    						{% if product.quantitySim!=null %}
							<div class="block">
								<div class="name-specifications">
									<p>Кол-во симкарт</p>
								</div>
								<div class="value-specifications">
									<p>{{ product.quantitySim }}</p>
								</div>
							</div></li>
                            {% endif %}
							{% if product.camera!=null %}
							<li>
							<div class="block">
								<div class="name-specifications">
									<p>Камера</p>
								</div>
								<div class="value-specifications">
									{{ product.camera }}
								</div>
							</div></li>
                            {% endif %}
							{% if product.weight!=null %}
							<li>
							<div class="block">
								<div class="name-specifications">
									<p>Вес</p>
								</div>
								<div class="value-specifications">
									<p>{{ product.weight }}</p>
								</div>
							</div></li>
                            {% endif %}
                            {#{% if product.!=null %}#}
							{#<li>#}
							{#<div class="block">#}
								{#<div class="name-specifications">#}
									{#<p>Объем батареи </p>#}
								{#</div>#}
								{#<div class="value-specifications">#}
									{#<p>2900 мА*ч</p>#}
								{#</div>#}
							{#</div></li>#}
							<li>
							<div class="block">
								<div class="name-specifications">
									<p>Гарантия</p>
								</div>
								<div class="value-specifications">
									<p>{{ product.guarantee }}</p>
								</div>
							</div></li>
						</ul>
					</div>
					<div class="coment">
						<h1>Оставить коментарий</h1>
						<form>
							<div class="data">
								<label for="email">Ваш E-mail</label>
									<input type="text" name="email" id="email">
							</div>
							<div class="data">
								<label for="coment-text">Ваш коментарий</label>
									<textarea name="coment-text"></textarea>
							</div>
							<div class="button">
								<input type="button" name="coment-button" value="Отправить">
							</div>
						</form>
					</div>
				</div>
{% endblock %}